@page "/query"

<form>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Search" @bind="Text" @bind:event="oninput" />
    </div>
</form>

<pre><code>@Output</code></pre>
